/* font-family: 'Poppins', sans-serif; */
*{
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    /* margin: 0 auto;
    padding: 0 auto; */
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;

}
.menu{
    margin-left: auto;
}
.menu__list{
    display: flex;
    justify-content: space-between;
}
.menu__list-item + .menu__list-item{/* + указывает на соседний селектор от первоначального*/
    margin-left: 24px;
}
.menu__list-link{
    color: #2F281E;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}
.user-nav{
    margin-left: 52px;
    margin-right: 13px;
}
.user__nav-link{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #173A56;
    padding: 11px 23px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    text-decoration: none;
}
.user__nav-link+.user__nav-link{
    margin-left: 14px;
    border-color: transparent;
    background-color: #FF9900;
    color: #FFFFFF;
}


